<div class="alert alert-danger text-center" role="alert" *ngIf="hasErrors" id="alert">
  Something went wrong. Check user or repository name and try again.
</div>

<div class="container" id="mainContainer">
  <div class="row text-center justify-content-center">
    <div class="col-11 border rounded p-2 bg-secondary text-white">
      <h1 style="font-size:5vw;"><i class="fab fa-github fa-1x"></i>  {{title}}</h1>
    </div>
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col-11 border rounded p-2 bg-secondary">
      <form [formGroup]="repositoryForm">
        <div class="form-row justify-content-center">
          <div class="col-sm-4 my-1">
            <div class="form-group">
              <input type="text" class="form-control" id="gitHubUser" name="gitHubUser" placeholder="github user"
                     formControlName="gitHubUser"
                     required>
            </div>
          </div>
          <div class="col-auto my-1">
            /
          </div>
          <div class="col-sm-5 my-1">
            <input type="text" class="form-control" id="repositoryName" name="repositoryName"
                   placeholder="repository name"
                   formControlName="repositoryName"
                   required>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary" id="getRepository" [disabled]="!repositoryForm.valid"
                    (click)="getRepositoryInfo()">Get!
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="repository">
    <app-repository-details [repository]=repository></app-repository-details>
  </div>

  <div class="row text-center justify-content-center" style="bottom: 0">
    <div class="col-11 border rounded p-2 bg-secondary text-white">
      Patryk Idkowiak 2018
    </div>
  </div>


</div>
